body {
    border: 1px transparent solid;
}

.search-main{

    margin:150px auto;
}
.search-main-logo{
    margin-bottom: 20px;
}
.search-main-2{
    margin-top:10px;
}
.results{
    margin:30px 180px;
    min-height: 550px;
}
.item{
    margin-bottom: 20px;
}
.pagination{
    margin: 50px 100px;
}
.detail{
    height: 80px;
    background-color: #505050;
    font-size: 26px;
    vertical-align: middle;
    color: #ff7800;
}
.detail-header-title{
    margin: auto 70px;
}
.detail-title{
    margin-top: 30px;
    font-size: 18px !important;
    text-align: center;
}
.content-title{
    margin: 30px auto !important;
    width: 50%;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}
.content-author,.content-dept{
    text-align: center;
    font-size: 16px;
    margin-bottom: 18px;
}
.content-dept{
    border-bottom: 1px gray dashed;
}
.treeMap{
    height: 90%;
    width: 100%;
}
.detail-guid{
    width: 30%;
    margin: 25px auto !important;
    font-size: 14px;
}
.detail-content{
    font-size: 16px;
}
.ahead-name{
    font-weight: 800;
}
.detail-item{
    margin-bottom: 10px;
}
.targetToTreeMap{
    color: #108ee9;
    cursor: pointer;
}
.sourcetype{
    font-size: 14px;
    margin-top: 10px;
    margin-right: 70px;
    color: gray;
}
.sourcetype-result{
    color: gray;
    font-size: 14px;
    background-color: #f8f8f8;
    margin-top: 5px;
}
.sourcetype-item{
    margin: 0 10px;
    padding: 10px;
}
.active{
    color: black;
    font-weight: 500;
    border-bottom: 1px black solid;
    border-color: #108ee9;
}
.tree-content{
    margin:10px auto;
    width: 100%;
    height: 600px;
}
.upload-title{
    font-size: 18px;
    font-weight: 600;
    color: black;
    margin-top: 22px;
}