$menu-height:60px;//定义菜单栏高度
.main-title{
  font-size: 16px;
  height: $menu-height;
  text-align: center;
  line-height: $menu-height;
  .title-logo{
    height: 100%;
    width: 117px;
    float: right;
    background-image: url("../../../img/logo.jpg");
    background-repeat: no-repeat;
    background-size:100%100%;
    //background-image: url('img/logo.jpeg');
  }
  .menu-tab{
    color: black;
    padding: 8px 30px;
    border-radius:20px;
    &:hover{
      background-color: #c40000;
      color: white;
      cursor: pointer;
    }
  }
  .active{
    background-color: #c40000;
    color: white;
  }
}
