.home-page{
  .home-banner{margin-top: 60px}
  font-family:'微软雅黑';
  .home-description{
    border: 1px #dbdfe9 solid;
    background-image: linear-gradient(-180deg,#dbdfe9 0,rgba(236,238,243,0) 98%);
  }
}
